
/*Reseteo CSS*/
*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}
header,main,aside{
    border: 1px solid rgb(150, 29, 29)
}
body{
    display: grid;
    grid-template-rows: 141px 2fr 2fr 2fr auto;
    grid-template-columns: 1fr 3fr 100px auto;
    grid-template-areas: 
    "header header header header"
    "main main aside aside"
    "main main aside aside"
    "main main aside aside"
    "footer footer footer footer";

      
  
}
header{
    grid-area: header;
    position: relative;
}

.navbar {
    z-index: 1;
    position: relative;
  }

.navbar-brand img {
    max-width: 100%;
    height: auto;
 } 


.navbar-toggler {
  border: none;
}

 main{
 grid-area: main;

 }


main section{
    background-color: rgb(214, 206, 206);
    height: 490px;

}

main section h1{
    font-family: 'Roboto', sans-serif;
    font-size: larger;
    font-weight: 700;
    display: flex;
    justify-content: center;
}

main section h2{

 font-family: 'Roboto', sans-serif;
    font-size: large;
    font-weight: 700;
    display: flex;
    justify-content: center;
}


aside{
    grid-area: aside;
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(to top, rgb(37, 37, 112), rgb(115, 33, 33));
    display: flex;
}
aside section p{
   color: antiquewhite;
}

footer{
    display: flex;
    grid-area: footer;
    font-family: 'Roboto', sans-serif;
    height: 60px;
    align-items: center;
    justify-content: center;
    background-color: rgb(135, 129, 129);
    
} 

/*contacto*/
form{
    font-family: 'Roboto', sans-serif;
    font-weight:700;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 4px 2px -2px rgba(0, 0, 0, 0.1); 
    border-top: 1px solid rgb(222, 226, 230);
}

fieldset{
    padding: 20px;

    
}
.campos{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

form input{
    border-radius: 5px;

}
.button{
   
    color: white;
    border-radius: 5px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center
}
/*horarios*/
.horarios{
    display: flex;
    justify-content: center;
}
/*profesores*/
.provisorio{
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.parrafoProvisorio{
    background-color: rgb(64, 64, 181);
    font-family: 'Roboto', sans-serif;
    font-weight:700;
}

/* Galeria*/
img.d-block {
    width: 100%;
    height: auto;
  }
 
@media (max-width: 767px) {
    footer {
      height: auto; 
      padding: 10px; 
      text-align: center; 
    }
  
    footer p {
      font-size: 14px; 
    }
  
    form {
      padding: 10px; 
    }
  
    form input, form textarea, form button {
      width: 100%; 
      margin-bottom: 10px;*/
    }
  }