/*horarios*/


.bordeau-page{ main {
    background-color: #702326;
    color:$fondoblanco;
   
}
img.img-fluid {
    border: 2px solid #423737;
}
h1 {
    color:$colorfuente;
    letter-spacing: 2px;
    padding-top: 10px;
    font-size: x-large;
    font-weight: 900;  
}
}

.grilla {.celula {
    border: 2px solid rgb(27, 8, 77);
    padding: 10px;
    text-align: center;
    transition: transform 0.5s, overflow 0.5s;
    overflow: hidden;
    background-color:$fondoblanco ; 
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color:$colorfuente; 
    &:hover {
        transform: scale(1.1);
    }
}
}
.grilla .celula.sin-actividad {
    background-color: rgb(123, 121, 121); 
 }

.grilla .row {
  --bs-gutter-x: 0;
    margin-right: 0; 
    margin-left: 0;
}


/* horarios menu desplegable*/

.list-group-item {
    background-color: rgb(202, 191, 191);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color:$colorfuente; 
    margin-bottom: 5px;
    &:active{
        background-color:#702326;
        color: aliceblue;
    }
}
@media (max-width:480px){

     /*img encabezado horarios*/
     .col-auto img{
        display: none;
    }
   
    /*aside horarios*/

    aside p{
        font-size: smaller;
    }
}