/*horarios*/


.bordeau-page{ main {
    background-color:$fondo-bordeau;
    color:$fondoblanco;
   
}
img.img-fluid {
    border:$bordesestilo;
}
h1 {
    color:map-get($colores,colorfuente);
    letter-spacing: 2px;
    padding-top: 10px;
    font-size: x-large;
    font-weight: 900;  
}
}

.grilla {.celula {
    border:$bordesestilo;
    padding: 10px;
    text-align: center;
    transition: transform 0.5s, overflow 0.5s;
    overflow: hidden;
    background-color:$fondoblanco ; 
    font-family:$letrafamilia;
    font-weight: 500;
    color:$colorfuente; 
    &:hover {
        transform: scale(1.1);
    }
}
}
.grilla .celula.sin-actividad {
    background-color:$fondo-grillasinactiv; 
 }

.grilla .row {
  --bs-gutter-x: 0;
    margin-right: 0; 
    margin-left: 0;
}


/* horarios menu desplegable*/

.list-group-item {
    background-color:$colorhorariodespl;
    font-family:$letrafamilia;
    font-weight: 500;
    color:$colorfuente; 
    margin-bottom: 5px;
    &:active{
        background-color:$fondo-bordeau;
        color:$fondoblanco;
    }
}
@media (max-width:480px){

     /*img encabezado horarios*/
     .col-auto img{
        display: none;
    }
   
    /*aside horarios*/

    aside p{
        font-size: smaller;
    }
}