/*horarios*/

main{
  .horarios{
  .container {
      max-width: 100%; 
   
  img.img-fluid {
      border:$bordesestilo;
  }
  h1 {
      color:beige;
      letter-spacing: 2px;
      padding-top: 10px;
      font-size: x-large;
      font-weight: 900;  
  }
  
  }
  
  .row {
      margin-right: 0;
      margin-left: 0; 
  .grilla {
      width: 100%;
      .celula {
      max-width:100%;
      white-space:nowrap;
      border:$bordesestilo;
      padding: 15px;
      text-align: center;
      transition: 0.5s, overflow 0.5s;
      overflow: hidden;
      background-color:$fondoblanco ; 
      font-family:$letrafamilia;
      font-weight: 500;
      color:$colorfuente; 
      cursor: pointer;
      &:hover {
          transform: scale(1.1);
      }
    }
   }
  
  .grilla .celula.sin-actividad {
      background-color:$fondo-grillasinactiv; 
      transition: none;
      transform: none;
      overflow: visible;  
     }
  
    }
   }
  }
  
/* horarios menu desplegable*/

.list-group-item {
    background-color:$colorhorariodespl;
    font-family:$letrafamilia;
    font-weight: 500;
    color:$colorfuente; 
    margin-bottom: 5px;
    &:active{
        background-color:$fondo-bordeau;
        color:$fondoblanco;
    }
}
@media (max-width:480px){

     /*img encabezado horarios*/
     .col-auto img{
        display: none;
    }
   
    /*aside horarios*/

    aside p{
        font-size:5px;
    }
 }