$colorfuente:rgb(52, 52, 60);
$fondoblanco: rgb(240, 248, 255);
$fondogeneral:rgb(166, 156, 156);
$letrafamilia: 'Roboto', sans-serif;
$bordesestilo:2px solid rgb(104, 32, 33);
$sombraaborde:0px 4px 2px -2px rgb(42, 23, 23);
$fondo-bordeau: rgb(112, 35, 38);