$colorfuente:rgb(50, 50, 53);
$fondoblanco: rgb(237, 241, 245);
$fondogeneral:rgb(166, 156, 156);
$letrafamilia: 'Roboto', sans-serif;
$bordesestilo:1px solid rgb(104, 32, 33);
$sombraaborde:0px 4px 2px -2px rgb(42, 23, 23);
$fondo-bordeau: rgb(115, 33, 33);
$fondo-grillasinactiv: rgb(123, 121, 121);
$sombra-aside:rgb(250, 235, 215);
$colorhorariodespl:rgb(202, 191, 191);